USE [master]
GO
/****** Object:  Database [DBQlNhanVien]    Script Date: 5/16/2022 9:25:58 PM ******/
CREATE DATABASE [DBQlNhanVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBQlNhanVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBQlNhanVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBQlNhanVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBQlNhanVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBQlNhanVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBQlNhanVien]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/16/2022 9:25:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCongs]    Script Date: 5/16/2022 9:25:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongs](
	[idChamCong] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[ngayChamCong] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ChamCongs] PRIMARY KEY CLUSTERED 
(
	[idChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luongs]    Script Date: 5/16/2022 9:25:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luongs](
	[idLuong] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[tienLuong] [int] NOT NULL,
	[thang] [int] NOT NULL,
	[loaiTienLuong] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Luongs] PRIMARY KEY CLUSTERED 
(
	[idLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 5/16/2022 9:25:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[idNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](255) NULL,
	[soDienThoai] [nvarchar](255) NULL,
	[gioiTinh] [nvarchar](255) NULL,
	[diaChi] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[ngaySinh] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.NhanViens] PRIMARY KEY CLUSTERED 
(
	[idNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChamCongs] ON 

INSERT [dbo].[ChamCongs] ([idChamCong], [idNhanVien], [ngayChamCong]) VALUES (2, 2, N'2022-05-16')
INSERT [dbo].[ChamCongs] ([idChamCong], [idNhanVien], [ngayChamCong]) VALUES (3, 3, N'2022-05-16')
SET IDENTITY_INSERT [dbo].[ChamCongs] OFF
GO
SET IDENTITY_INSERT [dbo].[Luongs] ON 

INSERT [dbo].[Luongs] ([idLuong], [idNhanVien], [tienLuong], [thang], [loaiTienLuong]) VALUES (2, 2, 10000000, 4, N'Cơ bản')
INSERT [dbo].[Luongs] ([idLuong], [idNhanVien], [tienLuong], [thang], [loaiTienLuong]) VALUES (3, 3, 10000000, 4, N'Tăng lương')
INSERT [dbo].[Luongs] ([idLuong], [idNhanVien], [tienLuong], [thang], [loaiTienLuong]) VALUES (4, 4, 9000000, 4, N'Tăng lương')
SET IDENTITY_INSERT [dbo].[Luongs] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanViens] ON 

INSERT [dbo].[NhanViens] ([idNhanVien], [hoTen], [soDienThoai], [gioiTinh], [diaChi], [email], [ngaySinh]) VALUES (2, N'Nguyễn Minh Huy', N'0394062748', N'Nam', N'Hà Nội', N'minhhuy@gmail.com', N'1999-05-16')
INSERT [dbo].[NhanViens] ([idNhanVien], [hoTen], [soDienThoai], [gioiTinh], [diaChi], [email], [ngaySinh]) VALUES (3, N'Đỗ Đăng Bê', N'0394034748', N'Nam', N'Đà Nẵng', N'dangbe@gmail.com', N'1997-05-02')
INSERT [dbo].[NhanViens] ([idNhanVien], [hoTen], [soDienThoai], [gioiTinh], [diaChi], [email], [ngaySinh]) VALUES (4, N'Lê Kiều Thu', N'0393462748', N'Nữ', N'Bình Định', N'kieuthu@gmail.com', N'1999-05-03')
SET IDENTITY_INSERT [dbo].[NhanViens] OFF
GO
/****** Object:  Index [IX_idNhanVien]    Script Date: 5/16/2022 9:25:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_idNhanVien] ON [dbo].[ChamCongs]
(
	[idNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_idNhanVien]    Script Date: 5/16/2022 9:25:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_idNhanVien] ON [dbo].[Luongs]
(
	[idNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChamCongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChamCongs_dbo.NhanViens_idNhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanViens] ([idNhanVien])
GO
ALTER TABLE [dbo].[ChamCongs] CHECK CONSTRAINT [FK_dbo.ChamCongs_dbo.NhanViens_idNhanVien]
GO
ALTER TABLE [dbo].[Luongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Luongs_dbo.NhanViens_idNhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanViens] ([idNhanVien])
GO
ALTER TABLE [dbo].[Luongs] CHECK CONSTRAINT [FK_dbo.Luongs_dbo.NhanViens_idNhanVien]
GO
USE [master]
GO
