USE [DBQlNhanVien]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/15/2022 1:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCongs]    Script Date: 5/15/2022 1:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongs](
	[idChamCong] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[ngayChamCong] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ChamCongs] PRIMARY KEY CLUSTERED 
(
	[idChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luongs]    Script Date: 5/15/2022 1:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luongs](
	[idLuong] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[tienLuong] [int] NOT NULL,
	[thang] [int] NOT NULL,
	[loaiTienLuong] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Luongs] PRIMARY KEY CLUSTERED 
(
	[idLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 5/15/2022 1:16:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[idNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](255) NULL,
	[soDienThoai] [nvarchar](255) NULL,
	[gioiTinh] [nvarchar](255) NULL,
	[diaChi] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[ngaySinh] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.NhanViens] PRIMARY KEY CLUSTERED 
(
	[idNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChamCongs] ON 

INSERT [dbo].[ChamCongs] ([idChamCong], [idNhanVien], [ngayChamCong]) VALUES (1, 3, N'5/15/2022')
INSERT [dbo].[ChamCongs] ([idChamCong], [idNhanVien], [ngayChamCong]) VALUES (2, 2, N'5/15/2022')
SET IDENTITY_INSERT [dbo].[ChamCongs] OFF
GO
SET IDENTITY_INSERT [dbo].[Luongs] ON 

INSERT [dbo].[Luongs] ([idLuong], [idNhanVien], [tienLuong], [thang], [loaiTienLuong]) VALUES (5, 2, 123123, 12, 123)
SET IDENTITY_INSERT [dbo].[Luongs] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanViens] ON 

INSERT [dbo].[NhanViens] ([idNhanVien], [hoTen], [soDienThoai], [gioiTinh], [diaChi], [email], [ngaySinh]) VALUES (2, N'Nguyen Minh Nha', N'01223415449', N'Nữ', N'Tam Tien', N'minhnha2308@gmail.com', N'2022-05-22')
INSERT [dbo].[NhanViens] ([idNhanVien], [hoTen], [soDienThoai], [gioiTinh], [diaChi], [email], [ngaySinh]) VALUES (3, N'ád', N'01223415449', N'Nam', N'ádasd', N'loptruonglun9999@gmail.com', N'2022-05-22')
INSERT [dbo].[NhanViens] ([idNhanVien], [hoTen], [soDienThoai], [gioiTinh], [diaChi], [email], [ngaySinh]) VALUES (4, N'Nguyen Cao Nguyen', N'01223415449', N'Nam', N'Tam Tien', N'minhnha12308@gmail.com', N'2022-05-14')
SET IDENTITY_INSERT [dbo].[NhanViens] OFF
GO
ALTER TABLE [dbo].[ChamCongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChamCongs_dbo.NhanViens_idNhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanViens] ([idNhanVien])
GO
ALTER TABLE [dbo].[ChamCongs] CHECK CONSTRAINT [FK_dbo.ChamCongs_dbo.NhanViens_idNhanVien]
GO
ALTER TABLE [dbo].[Luongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Luongs_dbo.NhanViens_idNhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanViens] ([idNhanVien])
GO
ALTER TABLE [dbo].[Luongs] CHECK CONSTRAINT [FK_dbo.Luongs_dbo.NhanViens_idNhanVien]
GO
