@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container-fluid px-4">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"><h2>Hệ thống quản lý nhân viên công ty phát triển phần mềm kế toán</h2></li>
        </ol>
        </div>
</main>